.App {
  text-align: center;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease-out 1000ms;
}

.slide {
  height: 400px;
  width: 100%;
  border-radius: 4px;
  display: inline-block;
}

.slideshowDots {
  text-align: center;
}

.slideDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideDot.active {
  background-color: blueviolet;
}

.slideshow-container {
  max-width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

.mySlides {
  white-space: nowrap;
  transition: ease-out 2s;
}

.text {
  color:rgb(0, 98, 255);
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slider {
  display: inline-block;
  width: 100%;
}

.dots {
  text-align: center;
}

.dot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.dot.active {
  background-color: black;
}